<!-- header
================================================== -->
<header class="sticky products-header">
    <nav id="main-nav-wrap">
        <ul class="products-navigation">
            <li>
                <a id="product-apim" href="/products/apim">
                    <span></span>API Management
                </a>
            </li>
            <li>
                <a id="product-am" href="/products/am">
                    <span></span>Access Management
                </a>
            </li>
        </ul>
    </nav>
</header>
<!-- /header -->
