<!-- header
================================================== -->
<header class="sticky">
    <a href="https://github.com/gravitee-io" target="_blank">
        <img id="forkme_github" src="/assets/images/forkme-github.png" alt="Fork me on GitHub">
    </a>

    <div class="row">
        <div class="logo">
            <a href="{{ "/" | relative_url }}">Gravitee.io</a>
        </div>

        <nav id="main-nav-wrap">
            <ul class="main-navigation">
                <li class="intro">
                    <a {% if page.url == '/' %} class="intro smoothscroll" {% endif %} href="{% if page.url == '/' %}#intro{% else %}{{ "/#intro" | relative_url }}{% endif %}">Home</a>
                </li>
                <li class="process">
                    <a {% if page.url == '/' %} class="process smoothscroll" {% endif %} href="{% if page.url == '/' %}#process{% else %}{{ "/#process" | relative_url }}{% endif %}">How it works</a>
                </li>
                <li>
                    <a class="products" href="/products/apim">Products</a>
                </li>
                <li>
                    <a class="downloads" href="/downloads">Download</a>
                </li>
                <li>
                    <div class="navbar">
                        <div class="dropdown">
                            <button class="dropbtn"><a href="/enterprise#about">Enterprise</a>
                                <i class="fa fa-caret-down"></i>
                            </button>
                            <div class="dropdown-content">
                                <a href="/enterprise#about">About Us</a>
                                <a href="/enterprise#services">Services</a>
                                <a href="/enterprise#pricing">Pricing</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="highlight with-sep">
                    <a href="https://docs.gravitee.io/" target="_blank">Documentation</a>
                </li>
                <li class="highlight">
                    <a href="http://blog.gravitee.io/" target="_blank">Blog</a>
                </li>
            </ul>
        </nav>
        <a class="menu-toggle" href="#"><span>Menu</span></a>
    </div>

</header>
<!-- /header -->
