---
layout: default
---

<!-- intro section
================================================== -->
<section id="intro">
    <div id="canvasplace" class="hidden-xs">

    </div>
    <div class="shadow-overlay"></div>
    <div class="intro-content">
        <div class="row">
            <div class="col-twelve">
                <span class="introtitre">Open Source API Platform</span>
                <h1>UNLEASH THE POWER OF YOUR APIS</h1>
                <p class="last">API Management :
                    <span class="version">v.{{ site.apim.release.version }}</span>
                    <span class="changelog">
                      (<a href="https://github.com/gravitee-io/issues/blob/master/CHANGELOG.adoc#change-log" target="_blank">View Changelog</a>)
                    </span>
                    <br />
                    Access Management :
                    <span class="version">v.{{ site.am.release.version }}</span>
                    <span class="changelog">
                      (<a href="https://github.com/gravitee-io/graviteeio-access-management/blob/master/CHANGELOG-v3.adoc#change-log" target="_blank">View Changelog</a>)
                    </span>
                </p>
                <p>
                    <span class="chat">
                        Chat with the Gravitee.io community on Gitter &nbsp;
                        <a href="https://gitter.im/gravitee-io/gravitee-io" target="_blank">
                            <img src="https://avatars1.githubusercontent.com/gitterHQ?s=32"/>
                        </a>
                    </span>
                </p>
            </div>
        </div>
    </div>
</section>
<!-- /intro -->

<!-- Process Section
================================================== -->
<section id="process">

    <div class="outer-div"><div class="inner-div"></div></div>

    <div class="row section-intro">
        <div class="col-twelve with-bottom-line">
            <h2 class="sectiontitre">How it works</h2>
            <p class="lead">
                Gravitee.io is a flexible, lightweight and blazing-fast open source API Platform that helps your organization control finely who, when and how users access your APIs.
            </p>
        </div>
    </div>
    <div class="container">


        <div class="container__sources" style="text-align: center">

            <div class="sources--cms">
                <h3>Applications</h3>
                <p>Web App, Mobile App, SPA App, IOT, Services</p>
            </div>
        </div>

        <svg viewbox="0 0 10 100">
            <line x1="5" x2="5" y1="0" y2="100"/>
        </svg>

        <div class="container__build" style="display: flex; align-items: center;">
            <span>
                <div class="build--powered">
                    <svg viewbox="0 0 100 100">
                        <circle cx="50" cy="50" r="50"/>
                    </svg>
                    <p>powered by</p>
                    <h3>Gravitee.io APIM</h3>
                    <a href="/products/apim" class="button round">Learn more</a>
                </div>
                <div class="build--stack">
                    Smart Proxy · Access Control . Analytics Alerting
                </div>
            </span>
            <svg width="200">
                <line x1="0" y1="10" x2="200" y2="10"/>
            </svg>
            <span>
                <div class="build--powered">
                    <svg viewbox="0 0 100 100">
                        <circle cx="50" cy="50" r="50"/>
                    </svg>
                    <p>powered by</p>
                    <h3>Gravitee.io AM</h3>
                    <a href="/products/am" class="button round">Learn more</a>
                </div>
                <div class="build--stack">
                    Login · Authorization . Connectivity <br> Security Tokens
                </div>
            </span>
        </div>

        <svg viewbox="0 0 10 100">
            <line x1="5" x2="5" y1="0" y2="100"/>
        </svg>

        <div class="container__deploy">
            <div>
                <h3>APIs</h3>
                <p>Keep APIs at the Heart of your Company to embrace the digital transformation</p>
            </div>
        </div>

    </div>
</section>
<!-- /process-->

<section id="testimonials" style="background: #f7f7f7;">
    <div class="col-twelve tab-full mob-full">
        <div class="row section-intro">
            <div class="col-twelve with-bottom-line">
                <h2 class="sectiontitre">Run with Gravitee.io</h2>
                <p class="lead">
                    Gravitee.io API Platform is using by users and companies all over the world and serve millions of request at the speed of light
                </p>
            </div>
        </div>

        <div class="row section-intro">
            <div class="col-twelve">
                <span class="subtitle">Trusted by many businesses and organizations</span>
                <p class="lead">
                    <a target="_blank" href="http://www.groupe-auchan.com/"><img src="{{ "/assets/images/auchan_retail_logo.png" | relative_url }}" alt="logo Auchan Retail"></a>
                </p>
            </div>
        </div>

        <div class="row flex-container">
            <div id="testimonial-slider" class="flexslider">
                <ul class="slides">
                    <li>

                        <div class="testimonial-author">
                            <img class="face" src="{{ "/assets/images/sdalle.jpeg" | relative_url }}" alt="">
                            <div class="author-info">
                                Sebastien Dalle
                                <span>CTO, ECommerce Auchan Retail France.</span>
                            </div>
                        </div>
                        <p>
                            ECommerce teams of Auchan Retail France are proud to have believed since end of 2015 in the technical differentiation by the essentialisation of Gravitee.io and to have been able to "co-build" and contribute to this OSS approach from GraviteeSource team by defining an MVP, which has since become a complete product, resilient, distributed, scalable and high-performance.<br/>
                            The API management stack is now a strong foundation firmly anchored at Auchan Retail, a real accelerator of our IT projects but also and especially of our business projects!
                        </p>
                    </li> <!-- /slide -->

                    <li>
                        <div class="testimonial-author">
                            <img class="face" src="{{ "/assets/images/default_user_avatar.png" | relative_url }}" alt="">
                            <div class="author-info">
                                Anonymous
                                <span class="position">CTO</span>
                            </div>
                        </div>
                        <p>
                            Great solution for all scale corporate api management : the gateway scales out by design because it's « shared-nothing », and the dependence upon the underlying resources (database, disk, network …) is minimal.<br/>
                            Amongst all the solutions we benched - open source and well-known editors, Gravitee is also the fastest by far, with a sub-millisecond overhead.<br/>
                            For one of our customers (a big retailer), millions of calls per day are handled with almost no cpu load, and we are about to ramp up to millions per hour without pain or additionnal expense.
                        </p>
                    </li> <!-- /slide -->
                </ul> <!-- /slides -->
            </div> <!-- /testimonial-slider -->
        </div> <!-- /flex-container -->
    </div>
</section>

<section id="about">
    <div class="row">
        <div class="col-twelve">
            <h1 class="h01">Get started with Gravitee.io API Platform</h1>
            <p class="lead">Like tons of people already using Gravitee.io, unleash the power of your APIs</p>
            <ul>
                <li class="sales">
                    <a href="https://graviteesource.com" class="button round large" title="">
                        <i class="icon ion-android-contacts"></i>Contact Us
                    </a>
                </li>
                <li class="community">
                    <a href="https://github.com/gravitee-io" class="button round large" title="">
                        <i class="icon ion-social-github"></i>Join Community</a>
                </li>
            </ul>
        </div>
    </div>
</section>
